
<img src='<%= restaurant.url %>'><br />
<h2><%= restaurant.summary %></h2><br />
<h3>Address: <%= restaurant.address %></h3><br />
<h3>Price range: <%= restaurant.price %></h3><br />
<h3>Time availability: <%= restaurant.time_slot %></h3><br />
